@font-face {
  text-rendering: optimizeLegibility;
  font-family: 'Circular-black';
  font-weight: 500;
  font-style: normal;
  src: url('./CircularStdMedium.ttf');
  src: url('./CircularStdMedium.ttf') format('truetype');
}
